@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background-color: black!important;
    width: 100%;
    height: 100%;
}

.is-scroll {
	color: white!important;
    background-color: rgba(0, 0, 0, 0.676)!important;
    backdrop-filter: blur(5px);
	position: fixed;
	margin-top: 0px;
	top: 0px;
	width: 100%;
	z-index: 5;
}

#main_text {
    margin-top: -820px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.982), rgb(165, 164, 164));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#style_blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

#main_text h1{
    text-align: center;
}

header {
	background-color: rgba(0, 0, 0, 0.294)!important;
    position: fixed;
    backdrop-filter: blur(5px);
	width: 100%;
	height: 80px;
	transition-duration: 1s;
    z-index: 50;
}

#background-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container .navbar-brand{
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    color: #fff!important;
}

.title_size a{
    padding-left: 70px;
    font-size: 30px;
}

#menu ul li a {
	color: white!important;
	font-weight: bold;
	z-index: 1;
	font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

header #menu ul li a {
    text-decoration: none;
    font-weight: bold;
	z-index: 1;
    font-size: 17px;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
    transition-duration: 0.3s;

}

header #menu ul li::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    display: block;
    margin: auto;
    transform: scale(0,1);
    transition-duration: 0.3s;
}

header #menu ul li:hover::after {
    transform: scale(1,1);
}

header #menu ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

#footer {
    margin-top: 0px;
    height: 600px;
    width: 100%;
    background-color: #111111;
}

#footer li h3{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#footer li a{
    color: white;
}

#footer li a:hover {
    color: blue;
}

#footer ul {
    list-style-type: none;
}

#foter ul li .links {
    padding-top: 50px;
}

#footer-contents {
    margin-top: 300px;
    background-color: #111111 !important;
}

#footer-contents h6 {
    color: rgb(255, 255, 255);
}

#footer-contents ul li a {
    color: rgb(189, 189, 189) !important;
}

#footer-copyright {
    background-color: #111111 !important;
}

.img_right {
    margin-top: 50px;
    margin-left: 200px;
}

#container-main {
    margin-top: 300px;
}

#container-main .text_presentation {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

#container-main .text_presentation h2 {
    font-weight: bold;
    font-size: 38px;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.982), rgb(165, 164, 164));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#container-main .text_presentation p {
    font-size: 23px;
    text-align: center;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.982), rgb(165, 164, 164));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container_card {
	top: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	z-index: 1;
}

.container_card .cards {
	position: relative;
	width: 290px;
	height: 380px;
	margin: 20px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.128);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center ;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
}

.container_card .cards .content {
	padding: 20px;
	text-align: center;
	transform: translateY(100px);
	opacity: 0;
	transition: 0.5s;
}

.container_card .cards:hover .content {
	transform: translateY(0);
	opacity: 1;
}

.container_card .cards .content h2 {
	position: absolute;
	top: -50px;
	right: 20px;
	font-size: 8em;
	color: rgba(255, 255, 255, 0.05);
	pointer-events: none;
}

.container_card .cards img {
	position: absolute;
	width: 290px;
	transition: 0.5s;
}

.container_card .cards:hover img {
	opacity: 0;
	transform: translateY(-100px);
}

.container_card .cards .content h3 {
	font-size: 3em;
	color: #fff;
	z-index: 1;
}

.container_card .cards .content a {
	position: relative;
	display: inline-block;
	padding: 8px 50px;
	margin-top: 15px;
	background: #fff;
	color: #000;
	border-radius: 20px;
	text-decoration: none;
	font-weight: 500;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.02);
	transition: 0.5s;
}

.container_card .cards .content a:hover {
	background-color: black;
	color: #fff;
	transition: 0.5s;
}


#plans h2 {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.982), rgb(165, 164, 164));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contact {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.982), rgb(165, 164, 164));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contact h2 {
    color: #fff;
}

#planos {
    position: absolute;
}

#sobrenos {
    position: absolute;
}

#contents-put {
    margin-top: 350px;
    width: 100%;
    height: 600px;
    background-color: #111111;
}

#contents-put h2 {
    padding-top: 20px;
    text-align: center;
    width: 100%;
    font-size: 30px;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.982), rgb(165, 164, 164));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contents-put p {
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding-top: 20px;
    text-align: center;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.982), rgb(165, 164, 164));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contents-put #inputs-position {
    margin: 0 auto;
    text-align: center;
}

#contents-put #inputs-position input {
    margin: 20px;
    border-style: solid;
    opacity: 90%;
    background-color: #d9d9d9;
    border-radius: 4px;
    border-width: 1px;
    border-color: #919191;
    color: black;
    width: 300px;
    height: 40px;
    margin-left: 5%;
    text-indent: 10px;
    transition-duration: 0.5s;
}

#contents-put #inputs-position input:focus {
   outline: none;
   border-color: green;
}

#contents-put #inputs-position input:hover{
    border-color: green;
    transition-duration: 0.5s;
}

#contents-put #inputs-position button {
    margin-top: 30px;
    outline: none;
    border-style: none;
    background-color: white;
    width: 100px;
    height: 35px;
    text-decoration: solid;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.6s;
    color: black;
    border-color: black;
    transition-duration: 0.8s;
}

#contents-put #inputs-position button:hover {
    color: white;
    background-color: black;
    transition-duration: 0.8s;
    cursor: pointer;
}
 

#contents-put #inputs-position {
    position: relative;
	width: 400px;
	height: 380px;
	margin: 20px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	background: rgba(31, 31, 31, 0.455);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center ;
	border-top: 1px solid rgba(255, 255, 255, 0.176);
	border-left: 1px solid rgba(255, 255, 255, 0.176);
	backdrop-filter: blur(5px);
}

#center-card {
    margin-top: -80px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

